<div class="container">
  <h1 class="text-center my-5">{{title}}</h1>
  
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>S no.</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of arr;let i=index">
            <td>{{i+1}}</td>
            <td>{{person.name}}</td>
            <td>{{person.mobile}}</td>
            <td>{{person.email}}</td>
            <td>
              <button class="btn btn-danger mr-3" (click)="removeItem(person.id)">Delete</button>
              <button class="btn btn-success" (click)="UpdateData(person)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="mb-4" *ngIf="!isCreateForm">
        <button class="btn btn-primary btn-block" (click)="isCreateForm=true;userForm.reset()">Create New User</button>
      </div>
      <div class="userForm">
        <h3 class="text-center">{{isCreateForm?formCreateTitle:formUpdateTitle}}</h3>
        <form #userForm="ngForm" (submit)="submitForm(userForm.value);userForm.reset()">
          <input type="hidden" name="id" #id='ngModel' [(ngModel)]="model.id">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" #name="ngModel" required minlength="4" [(ngModel)]="model.name">
            <div class="text-danger" *ngIf="!name.valid && (name.dirty || name.touched)">
              <p *ngIf="name.errors.required">name is required</p>
              <p *ngIf="name.errors.minlength">Name must be at least 4 characters long.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Mobile:</label>
            <input type="number" class="form-control" name="mobile" #mobile="ngModel" required [(ngModel)]="model.mobile">
            <div class="text-danger" *ngIf="!mobile.valid && (mobile.dirty || mobile.touched)">
              <p *ngIf="mobile.errors.required">mobile is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input type="text" class="form-control" name="email" email #email="ngModel" emailvalidator required [(ngModel)]="model.email">
            <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
              <p *ngIf="email.errors.required">email is required</p>
              <p *ngIf="email.errors.email">must be a valid email</p>
            </div>
          </div>
          <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>